
@{
    ViewBag.Title = "Index";
}

<h2>GWENT</h2>

<div>
    <a href="/GameBoard/Index" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">PLAY</a>
</div>

<div>
    <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">MATCH HISTORY</a>
</div>

<div>
    <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">STATS</a>
</div>

<div>
    <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Friends</a>
</div>
