
@{
    ViewBag.Title = "Index";
}

<div class="Index-Body">
    <h2>GWENT</h2>
    <div class="row">
        <div>
            <a href="/GameBoard/Index" class="trapezoid" role="button" aria-pressed="true"><span>PLAY</span></a>
        </div>

        <div>
            <a href="#" class="trapezoid" role="button" aria-pressed="true"><span>HISTORY</span></a>
        </div>

        <div>
            <a href="/Friends/Index" class="trapezoid" role="button" aria-pressed="true"><span>FRIENDS</span></a>
        </div>
    </div>
</div>
