
@{
    ViewBag.Title = "Index";
}

<h2>GWENT</h2>
<div class="row">
    <div>
        <a href="/GameBoard/Index" class="trapezoid" role="button" aria-pressed="true"><span>PLAY</span></a>
    </div>

    <div>
        <a href="#" class="trapezoid" role="button" aria-pressed="true"><span>MATCH HISTORY</span></a>
    </div>

    <div>
        <a href="#" class="trapezoid" role="button" aria-pressed="true"><span>STATS</span></a>
    </div>

    <div>
        <a href="#" class="trapezoid" role="button" aria-pressed="true"><span>Friends</span></a>
    </div>
</div>
