
@{
    ViewBag.Title = "Index";
}

<div class="Index-Body">
    <h2>HOME PAGE</h2>
    <div class="row">
        <div style="padding-left:15%">
            <a href="/GameBoard/Index" class="trapezoidPlay" role="button" aria-pressed="true"><span>PLAY</span></a>
        </div>

        <div style="padding-left:15%">
            <a href="/Friends/Index" class="trapezoid" role="button" aria-pressed="true"><span>FRIENDS</span></a>
        </div>
    </div>
</div>
