
@{
    ViewBag.Title = "Index";
}

<div class="container boardBackground">
    <div class="row">
        <div class="col-sm-3" style="height:600px">
            <div class="row">
                <div class="col-sm-12" style="height:100px"></div>
            </div>
            @* OPPONENT STATS ROW *@
            <div class="row">
                <div  id="opponentStats" class="col-sm-12 stats";">
                    <span id="oppName" style="color:gold; font-weight:bold;"></span>
                    <div class="row">
                        
                        <div class="col-sm-3" height:50px"></div>
                        <div class="col-sm-3" height:50px">
                            <span id="numOppCard"></span>
                        </div>
                        <div class="col-sm-3" height:50px">ROUNDS:</div>
                        <div class="col-sm-3" style="height:50px">
                            <span id="oppRoundWon"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10" style="color:red;height:100px">TOTAL POWER:</div>
                    <div class="col-sm-2" style="height:100px">
                        <span id="oppTotPower" style="color:gold; font-weight:bold;"></span>
                </div>
            </div>
            @* PLAYER STATS ROW *@
            <div class="row stats">
                <div id ="playerStats"class="col-sm-12 stats" style="height:100px">
                    <span id="playerName" style="color:gold; font-weight:bold;"></span>
                    <div class="row">
                        <div class="col-sm-3" style="height:50px">HAND:</div>
                        <div class="col-sm-3" style="height:50px">
                            <span id="numPlayerCard"></span>
                        </div>
                        <div class="col-sm-3" style="height:50px">ROUND:</div>
                        <div class="col-sm-3" style="height:50px">
                            <span id="playerRoundWon"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10" style="color:red;height:100px">TOTAL POWER:</div>
                <div id="playerTotPower" class="col-sm-2" style="color:gold; font-weight:bold;height:100px">
                    <span></span>
                </div>
            </div>
            <div class="row">
                <div id="passButton" class="col-sm-5"><button class="btn-warning">Pass</button></div>
            </div>
        </div>
       
        <div class="col-sm-6" style="height:650px">
            <p style="color:red"></p>
            <div id="p1sieged" class="row my-row sieged">
                <div id ="oppSiegedScoreDiv"class="col-md-2 col-sm-6 my-col">
                    <span>SCORE</span>
                </div>
            </div>
            <p></p>
            <div id="p1ranged" class="row my-row ranged">
                <div id ="oppRangeScoreDiv"class="col-md-2 col-sm-6 my-col">
                    <span>SCORE</span>
                </div>
            </div>
            <p></p>
            <div id="p1CloseCombat" class="row my-row closeCombat">
                <div id ="oppCloseCombatScoreDiv"class="col-md-2 col-sm-6 my-col">
                    <span>SCORE</span>
                </div>
            </div>


            <p></p>
            <div id="p2CloseCombat" class="row my-row closeCombat">
                <div id ="playerCloseCombatScoreDiv" class="col-md-2 col-sm-6 my-col">
                    <span>SCORE</span>
                </div>
            </div>

            <div id="p2ranged" class="row my-row ranged">
                <div id ="playerRangedScoreDiv"class="col-md-2 col-sm-6 my-col">
                    <span>SCORE</span>
                </div>
            </div>

            <div id="p2sieged" class="row my-row sieged">
                <div id ="playerSiegedScoreDiv" class="col-md-2 col-sm-6 my-col">
                    <span>SCORE</span>
                </div>
            </div>
            <div id="hand" class="row my-handDeck stats">
           </div>

        </div>
        <div id="messages" class="col-sm-3 stats" style="height:600px">
        </div>
    </div>


</div>

@*<script src="~/Scripts/Gameboard.js"></script>*@
<script src="~/Scripts/gamestate.js"></script>