
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">
<link rel="stylesheet" href="~/board.css">

<p>PLAYER 1</p>
<div id="p1Field" class="container my-container">
    <p>SIEGED</p>
    <div id=p1sieged class="row my-row">
        <div class="col-md-2 col-sm-6 my-col">
            Row 1 Col 1
        </div>
        <div class="col-md-2 col-sm-6 my-col">
            Row 1 Col 2
        </div>
        <div class="col-md-2 col-sm-6 my-col">
            Row 1 Col 3
        </div>
    </div>
    <p>RANGED</p>
    <div id="p1ranged" class="row my-row">

        <div class="col-md-2 col-sm-6 my-col">
            Row 2 Col 1
        </div>
        <div class="col-md-2 col-sm-6 my-col">
            Row 2 Col 2
        </div>

        <div class="col-md-2 col-sm-6 my-col">
            Row 2 Col 3
        </div>
    </div>
    <p>CLOSE COMBAT</p>
    <div id="p1closeCombat" class="row my-row">
        <div class="col-md-2 col-sm-6 my-col">
            Row 3 Col 1
        </div>
        <div class="col-md-2 col-sm-6 my-col">
            Row 3 Col 2
        </div>
        <div class="col-md-2 col-sm-6 my-col">
            Row 3 Col 3
        </div>
    </div>
</div>

<p>PLAYER 2</p>
<div id="p2Field" class="container my-container">
    <p>ClOSE COMBAT</p>
    <div id="p2closeCombat" class="row my-row">
        <div class="col-md-2 col-sm-6 my-col">
            Row 1 Col 1
        </div>
        <div class="col-md-2 col-sm-6 my-col">
            Row 1 Col 2
        </div>
        <div class="col-md-2 col-sm-6 my-col">
            Row 1 Col 3
        </div>
    </div>
    <p>RANGED</p>
    <div id="p2ranged" class="row my-row">

        <div class="col-md-2 col-sm-6 my-col">
            Row 2 Col 1
        </div>
        <div class="col-md-2 col-sm-6 my-col">
            Row 2 Col 2
        </div>

        <div class="col-md-2 col-sm-6 my-col">
            Row 2 Col 3
        </div>
    </div>
    <p>SIEGED</p>
    <div id="p2sieged" class="row my-row">
        <div class="col-md-2 col-sm-6 my-col">
            Row 3 Col 1
        </div>
        <div class="col-md-2 col-sm-6 my-col">
            Row 3 Col 2
        </div>
        <div class="col-md-2 col-sm-6 my-col">
            Row 3 Col 3
        </div>
    </div>
</div>
<div class="hand"></div>
