
.my-col {
    border: 3px dotted blue;
    height:100px;
    padding: 0;
    text-align: center;
} 
.my-col img {
    height: 100% !important;
}

.sieged {
   background: url(Images/gwentSiegedRow.jpg) !important;
}

.ranged{
    background: url(Images/gwentRangedRow.jpg) !important
}

.closeCombat{
    background: url(Images/gwentCloseCombatRow.jpg) !important
}

.stats{
    background: url(Images/gwentPlayerStatBackground.jpg) !important
    
}
#opponentStats{
    background-color:black;
    height:100px;
}