.trapezoid {
    margin:50px;
	border-bottom: 100px solid #555;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 250px;
    float: inherit;
    display: inline-block;
    text-align:center;
}

.trapezoid span {
    padding-top:40px;
    display: block;
}

.trapezoid:hover{
    border-radius: 25px;
    height: 300px;
    width: 250px;
    background-color: #555;
    transition: 0.25s;
}

.trapezoid span:hover{
    padding-top:130px;
    transition: 0.25s;
}

.trapezoid a {
    text-align:center;
    display: inline-block;
    position:absolute;
}
